In [29]:
import numpy as np
import csv
import math
import pandas as pd
from sklearn import preprocessing

In [30]:
user_history = pd.read_csv("user_history.csv")
user_ratings = pd.read_csv("user_ratings.csv")

In [31]:
user_history.head()

,USER ID,nectar prague,joshua sleep,gallery fiesta,jerome jazz,motif polo,zigzag germany,susan sonar,alamo group,gilbert chicken,...,pandora oval,cabinet state,cecilia raja,memo darwin,enigma recycle,olivia image,world blonde,begin unit,rodeo santana,drum spring
0,100953,1.484013,0.257857,0.239617,1.133965,0.599283,2.001566,2.007976,1.129472,4.337007,...,0.489561,0.059119,2.177327,0.063949,1.579579,1.977560,0.009971,0.869408,0.676175,0.977309
1,100955,1.350588,0.397670,0.308198,0.660640,0.900114,1.482669,2.052944,1.052420,3.597033,...,0.098677,0.201854,1.980738,0.078014,1.692670,2.330878,0.333127,0.942450,0.837264,1.031710
2,100965,2.576723,1.098803,1.764609,0.157183,0.826298,0.094709,4.495690,0.733354,1.453999,...,2.000441,0.541809,0.045513,2.939113,0.349863,2.440363,2.199525,1.035054,1.466515,0.173144
3,100968,2.307185,0.236830,0.318632,0.594718,0.940251,1.296865,2.451781,1.386342,3.503421,...,0.037346,0.004922,1.729340,0.302608,1.960916,2.513448,0.776575,0.367702,0.869511,1.108934
4,100976,0.526058,2.419744,0.548373,0.109904,1.261197,5.836276,0.204255,2.655214,0.056144,...,0.553128,1.847459,1.882823,2.214928,1.869845,2.168439,1.388244,0.081731,0.402835,0.708239

In [5]:
user_history.describe()

,USER ID,nectar prague,joshua sleep,gallery fiesta,jerome jazz,motif polo,zigzag germany,susan sonar,alamo group,gilbert chicken,...,pandora oval,cabinet state,cecilia raja,memo darwin,enigma recycle,olivia image,world blonde,begin unit,rodeo santana,drum spring
count,4500.000000,4500.000000,4500.000000,4500.000000,4500.000000,4500.000000,4500.000000,4500.000000,4500.000000,4500.000000,...,4500.000000,4500.000000,4500.000000,4500.000000,4500.000000,4500.000000,4500.000000,4500.000000,4500.000000,4500.000000
mean,113376.351778,1.865722,1.638220,1.143836,0.985400,1.216889,2.272874,2.374980,1.043467,1.578136,...,1.627423,1.036980,1.841324,1.875481,1.132869,2.113052,1.509319,0.700393,0.824720,0.686132
std,7184.873215,0.937386,1.301395,0.743591,0.712322,0.794407,2.134627,1.677591,0.717391,1.324045,...,1.128374,0.873155,1.144434,1.312701,0.697700,0.483498,0.805120,0.410686,0.502802,0.537353
min,100953.000000,0.000558,0.000111,0.000072,0.000407,0.000103,0.000347,0.000068,0.000327,0.000288,...,0.001380,0.000017,0.000060,0.000289,0.000358,0.411463,0.000562,0.000098,0.000784,0.000001
25%,107134.000000,1.096461,0.481934,0.466599,0.377794,0.562622,0.399109,0.806781,0.461352,0.504135,...,0.665749,0.280598,0.785005,0.418055,0.563602,1.787143,0.618802,0.328835,0.406434,0.249143
50%,113286.000000,1.956605,1.250749,1.101720,0.850522,1.107225,1.335345,2.102481,0.932965,1.002327,...,1.408540,0.706805,1.890321,1.934150,1.065851,2.116222,1.839018,0.734343,0.803667,0.548355
75%,119607.250000,2.587191,3.002011,1.780516,1.498610,1.811398,4.952487,4.044239,1.533543,2.959773,...,2.528821,2.012495,2.770093,3.163269,1.650293,2.443463,2.138760,1.017411,1.198217,1.049258
max,125976.000000,4.521661,5.153343,3.125105,3.748970,4.089940,6.759219,6.565286,3.897725,5.177968,...,5.339951,3.002520,5.688518,4.505662,3.267691,3.696181,2.965128,1.895920,2.674754,2.818771

In [154]:
from sklearn.decomposition import PCA
pca = PCA(n_components=3)
X = user_history.drop(['USER ID'],axis=1).to_numpy()
pca.fit(X)

print(pca.explained_variance_ratio_)

print(pca.singular_values_)
X_pca = pca.fit_transform(X)
user_history_pca = pd.DataFrame(X_pca, columns = ['pc1', 'pc2', 'pc3'])
user_history_pca['USER ID'] = user_history['USER ID']
user_history_pca

[0.42042748 0.35657495 0.03605765]
[420.13734218 386.91997735 123.03946843]

           pc1       pc2       pc3  USER ID
0    -1.176094  8.606512 -1.330745   100953
1    -1.002622  8.207177 -1.497481   100955
2     8.306293 -3.333515 -0.114855   100965
3    -0.764539  8.377915  1.496169   100968
4    -7.572412 -4.342579  0.514051   100976
5    -0.390352  7.758201 -4.076096   100986
6     8.107081 -3.729124  0.015348   100993
7    -6.672780 -4.146363  0.219736   101001
8    -0.356084  8.338444 -2.124662   101010
9    -0.885821  8.567057  1.343266   101013
10    8.383591 -3.315600  0.619571   101016
11   -7.933258 -4.294122  0.738419   101021
12   -7.826932 -4.994858  0.259664   101022
13   -7.167798 -4.642690 -1.082748   101029
14    7.789992 -3.847479 -0.194007   101034
15   -7.659469 -4.544567  0.874968   101039
16   -7.530962 -4.303595  1.260886   101044
17    8.386403 -3.430981 -0.147098   101049
18   -7.727855 -4.142745  1.257408   101053
19   -6.499498 -4.734580 -0.865892   101055
20    7.788446 -3.721070  0.097315   101056
21    8.315918 -3.342300 -0.346176   101062
22    8.609322 -2.792022  0.014344   101072
23   -7.623237 -3.781261 -1.162670   101081
24   -0.550597  8.329935  1.753025   101083
25    8.480821 -4.450827  0.397912   101090
26   -0.277230  7.489854  3.998351   101099
27   -7.585104 -4.613605 -0.074663   101105
28   -0.475208  7.656934 -1.709389   101112
29   -6.593719 -4.398168 -1.278100   101122
...        ...       ...       ...      ...
4470  7.267618 -3.784934  0.318853   125811
4471  8.329575 -3.804976  0.231286   125815
4472  7.494859 -3.803867 -0.005796   125821
4473 -0.368900  7.945306  5.036829   125831
4474  7.142655 -3.978572 -0.377417   125838
4475 -4.940822 -4.806413 -2.286801   125839
4476 -0.776844  7.720087  1.774626   125846
4477 -0.567097  8.085148  2.830918   125852
4478 -0.684876  8.114777 -3.215011   125859
4479 -0.379624  8.361707  3.053699   125866
4480 -0.622299  8.459688 -1.669397   125875
4481 -6.941813 -3.806899 -0.489874   125877
4482 -7.742686 -4.079188  0.735729   125881
4483 -7.416663 -4.340491  2.257717   125889
4484 -0.118073  7.979872  5.305433   125892
4485  8.056864 -3.765894  0.172246   125901
4486 -0.218918  7.770333  5.265288   125908
4487 -0.720741  8.074387  1.303238   125917
4488 -0.606065  8.118241  3.740326   125919
4489 -0.973982  8.418344 -3.159733   125923
4490 -7.182005 -3.843255  1.367565   125930
4491  8.569188 -4.036913  0.119402   125934
4492 -7.868613 -4.403493  1.480004   125944
4493 -1.046664  8.063450 -4.688317   125948
4494 -5.257515 -4.895517 -1.533159   125949
4495  9.081288 -3.866557 -0.203814   125956
4496  7.768702 -3.220798 -0.535944   125959
4497 -0.689955  8.341059 -3.464181   125960
4498  8.066666 -3.949294 -0.442887   125969
4499 -0.830768  8.143994 -1.618999   125976

[4500 rows x 4 columns]

In [7]:
user_ratings.head(5)

   USER ID         PRODUCT  RATING
0   100953     spray karma       3
1   100953   nurse october       5
2   100953  balance hostel       3
3   100953    volume pasta       3
4   100953   diana chariot       6

In [8]:
user_ratings.describe()

             USER ID         RATING
count  150062.000000  150062.000000
mean   109209.050366       4.998067
std      4740.704035       2.659474
min    100953.000000       0.000000
25%    105088.000000       3.000000
50%    109178.000000       5.000000
75%    113285.000000       7.000000
max    117517.000000      10.000000

In [9]:
user_ratings.isna().sum()

USER ID    0
PRODUCT    0
RATING     0
dtype: int64

In [10]:
type(user_ratings['PRODUCT']), len(user_ratings['PRODUCT'])

(pandas.core.series.Series, 150062)

In [32]:
le_product = preprocessing.LabelEncoder()
le_product.fit(user_ratings['PRODUCT'])
product_ID = le_product.transform(user_ratings['PRODUCT'])

In [33]:
user_ratings['PRODUCT ID'] = product_ID
user_ratings.head()

   USER ID         PRODUCT  RATING  PRODUCT ID
0   100953     spray karma       3          80
1   100953   nurse october       5          55
2   100953  balance hostel       3           6
3   100953    volume pasta       3          98
4   100953   diana chariot       6          19

In [21]:
sorted(list(user_history.columns.array))

['USER ID',
 'academy pepper',
 'admiral price',
 'agenda viking',
 'alamo group',
 'algebra small',
 'anvil maestro',
 'axis weekend',
 'bank torch',
 'begin unit',
 'billy parlor',
 'border diet',
 'cabinet state',
 'cake visa',
 'calibre front',
 'carbon carpet',
 'cecilia raja',
 'clever noise',
 'client shake',
 'cliff sherman',
 'climax watch',
 'compact album',
 'context eric',
 'cubic society',
 'dallas level',
 'delphi armani',
 'denver giraffe',
 'deposit hobby',
 'dialog inside',
 'digital wisdom',
 'domino husband',
 'double drink',
 'dragon remark',
 'drum spring',
 'dynamic bonjour',
 'enigma recycle',
 'enjoy reptile',
 'evening cantina',
 'famous genesis',
 'finland jordan',
 'gallery fiesta',
 'gentle visible',
 'gilbert chicken',
 'griffin octopus',
 'halt comet',
 'hamlet orchid',
 'helium eternal',
 'history private',
 'horse spell',
 'hunter edgar',
 'jamaica lecture',
 'jerome jazz',
 'joshua sleep',
 'judo taboo',
 'june galileo',
 'limbo profile',
 'linda village',
 'local humor',
 'memo darwin',
 'method lotus',
 'monster erosion',
 'motif polo',
 'nato kiwi',
 'nectar prague',
 'nobel road',
 'nuclear hello',
 'numeric plasma',
 'olivia image',
 'olympic cosmos',
 'outside albert',
 'pandora oval',
 'peru million',
 'pretend patriot',
 'pretty pencil',
 'quiz mailbox',
 'ribbon deal',
 'ricardo prepare',
 'richard forest',
 'rodeo santana',
 'sabrina oregano',
 'sector matrix',
 'side kimono',
 'size africa',
 'smoke galaxy',
 'snow connect',
 'soda delta',
 'sound ibiza',
 'spend beatles',
 'status tina',
 'stock reflex',
 'susan sonar',
 'toronto slang',
 'tribune temple',
 'vacuum tourist',
 'visual fire',
 'wave baron',
 'wheel berlin',
 'window pearl',
 'winter modular',
 'world blonde',
 'zigzag germany']

In [22]:
sorted(list(pd.unique(user_ratings['PRODUCT'])))

['alaska basil',
 'alcohol future',
 'alice ticket',
 'alien potato',
 'asia jacket',
 'aztec iris',
 'balance hostel',
 'betty today',
 'boston house',
 'bronze sweden',
 'bundle forget',
 'cairo monarch',
 'choice copy',
 'cinema complex',
 'cipher empty',
 'cockpit circle',
 'comedy clean',
 'daniel global',
 'degree forever',
 'diana chariot',
 'diesel jason',
 'diploma vocal',
 'epoxy insect',
 'explain heaven',
 'flame street',
 'fractal heart',
 'fresh shave',
 'frozen command',
 'gelatin prime',
 'glass alpine',
 'good info',
 'gossip cotton',
 'hand inca',
 'harbor moral',
 'helena poncho',
 'henry distant',
 'invent topic',
 'judge sunday',
 'july miami',
 'kermit desert',
 'leonid antenna',
 'lesson switch',
 'lexicon ingrid',
 'liquid baggage',
 'logic channel',
 'loyal jungle',
 'master nobody',
 'medusa cuba',
 'mercy chaos',
 'mineral barcode',
 'moment seminar',
 'motel marvin',
 'neptune before',
 'ninja saga',
 'north speed',
 'nurse october',
 'office triton',
 'pardon thomas',
 'parody athena',
 'pegasus respond',
 'percent edison',
 'plume cowboy',
 'provide flex',
 'reverse royal',
 'rider shine',
 'sabine emotion',
 'saint texas',
 'salon pulse',
 'scale phone',
 'season arthur',
 'segment meter',
 'senator ozone',
 'serial organic',
 'shannon resume',
 'sheriff java',
 'silk gizmo',
 'silver plate',
 'similar malta',
 'siren junior',
 'solid express',
 'spray karma',
 'stella micro',
 'stop door',
 'sushi import',
 'tarzan juliet',
 'telecom pluto',
 'textile strange',
 'theory france',
 'torso cricket',
 'tower fantasy',
 'trivial neon',
 'tuna relax',
 'tunnel nerve',
 'turtle pierre',
 'update vibrate',
 'vampire teacher',
 'ventura next',
 'vodka bahama',
 'volume pasta',
 'zero nikita']

In [34]:
le_user = preprocessing.LabelEncoder()
le_user.fit(user_history['USER ID'])
user_ID = le_user.transform(user_ratings['USER ID'])
all_user_ID = le_user.transform(user_history['USER ID'])
user_ratings['NEW USER ID'] = user_ID
user_ratings.head()

   USER ID         PRODUCT  RATING  PRODUCT ID  NEW USER ID
0   100953     spray karma       3          80            0
1   100953   nurse october       5          55            0
2   100953  balance hostel       3           6            0
3   100953    volume pasta       3          98            0
4   100953   diana chariot       6          19            0

In [35]:
user_ID, product_ID

(array([   0,    0,    0, ..., 2999, 2999, 2999]),
 array([80, 55,  6, ..., 96,  1, 79]))

In [30]:
rating = user_ratings['RATING'].to_numpy()
rating

array([3, 5, 3, ..., 4, 3, 7])

In [75]:
user_ID_has_rating = np.unique(user_ID)
product_ID_in_train = np.unique(product_ID)
len(user_ID_has_rating), len(product_ID_in_train)

(3000, 100)

In [56]:
user_ratings[user_ratings['NEW USER ID'] == 5].describe().RATING

count    50.000000
mean      5.400000
std       3.016959
min       0.000000
25%       3.000000
50%       5.500000
75%       8.000000
max      10.000000
Name: RATING, dtype: float64

In [57]:
user_rating_stats = []
for user in user_ID_has_rating:
    rating_stats = user_ratings[user_ratings['NEW USER ID'] == user].describe().RATING
    rating_count = rating_stats[0]
    rating_mean = rating_stats[1]
    rating_std = rating_stats[2]
    rating_min = rating_stats[3]
    rating_max = rating_stats[7]
    user_rating_stats.append([user, rating_count, rating_mean, rating_std, rating_min, rating_max])

In [65]:
user_rating_stats_df = pd.DataFrame(user_rating_stats, columns=['NEW USER ID', 'NUM RATING', 'MEAN', 'STD', 'MIN', 'MAX'])
user_rating_stats_df.head()

   NEW USER ID  NUM RATING      MEAN       STD  MIN   MAX
0            0        54.0  5.074074  1.931388  1.0   9.0
1            1        47.0  5.297872  1.214315  2.0   8.0
2            2        53.0  4.773585  1.671498  1.0   8.0
3            3        48.0  5.708333  2.843120  1.0  10.0
4            4        37.0  4.567568  3.531922  0.0  10.0

In [66]:
user_rating_stats_df.describe()

,NEW USER ID,NUM RATING,MEAN,STD,MIN,MAX
count,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000
mean,1499.500000,50.020667,4.998185,2.535261,0.786667,9.211667
std,866.169729,4.950125,0.391264,0.797696,0.976801,0.971860
min,0.000000,34.000000,3.404255,0.437595,0.000000,6.000000
25%,749.750000,47.000000,4.760000,1.977584,0.000000,9.000000
50%,1499.500000,50.000000,5.000000,2.632289,0.000000,10.000000
75%,2249.250000,53.000000,5.227273,3.145543,1.000000,10.000000
max,2999.000000,67.000000,6.604167,4.308554,4.000000,10.000000

In [69]:
product_rating_stats = []
for product in product_ID_in_train:
    rating_stats = user_ratings[user_ratings['PRODUCT ID'] == product].describe().RATING
    rating_count = rating_stats[0]
    rating_mean = rating_stats[1]
    rating_std = rating_stats[2]
    rating_min = rating_stats[3]
    rating_max = rating_stats[7]
    product_rating_stats.append([product, rating_count, rating_mean, rating_std, rating_min, rating_max])

In [70]:
product_rating_stats_df = pd.DataFrame(product_rating_stats, columns=['PRODUCT ID', 'NUM RATING', 'MEAN', 'STD', 'MIN', 'MAX'])
product_rating_stats_df.head()

   PRODUCT ID  NUM RATING      MEAN       STD  MIN   MAX
0           0      1536.0  4.986328  2.629414  0.0  10.0
1           1      1476.0  5.123984  3.016824  0.0  10.0
2           2      1514.0  5.068032  3.367155  0.0  10.0
3           3      1528.0  5.014398  2.055498  0.0   9.0
4           4      1512.0  5.049603  2.672665  0.0  10.0

In [71]:
product_rating_stats_df.describe()

       PRODUCT ID  NUM RATING        MEAN         STD         MIN         MAX
count  100.000000   100.00000  100.000000  100.000000  100.000000  100.000000
mean    49.500000  1500.62000    4.998380    2.620342    0.040000    9.970000
std     29.011492    28.46184    0.076259    0.458555    0.196946    0.171447
min      0.000000  1434.00000    4.788152    1.448923    0.000000    9.000000
25%     24.750000  1479.00000    4.956376    2.251127    0.000000   10.000000
50%     49.500000  1502.50000    5.001251    2.655604    0.000000   10.000000
75%     74.250000  1520.00000    5.042819    3.020153    0.000000   10.000000
max     99.000000  1574.00000    5.190860    3.417965    1.000000   10.000000

In [77]:
train_ratio = 0.7
user_ID_to_train = np.random.choice(user_ID_has_rating, int(3000*train_ratio), replace=False)
len(user_ID_to_train)

2100

In [81]:
user_rating_train_df = user_ratings.loc[user_ratings['NEW USER ID'].isin(user_ID_to_train)]
user_rating_val_df = user_ratings.loc[~user_ratings['NEW USER ID'].isin(user_ID_to_train)]
user_rating_val_df

        USER ID          PRODUCT  RATING  PRODUCT ID  NEW USER ID
101      100965    helena poncho       4          34            2
102      100965     sushi import       3          83            2
103      100965   balance hostel       6           6            2
104      100965     volume pasta       3          98            2
105      100965    gossip cotton       6          31            2
106      100965    diana chariot       3          19            2
107      100965  mineral barcode       8          49            2
108      100965   cinema complex       4          13            2
109      100965     siren junior       5          78            2
110      100965      north speed       4          54            2
111      100965     sheriff java       6          74            2
112      100965     flame street       7          24            2
113      100965     diesel jason       6          20            2
114      100965      rider shine       5          64            2
115      100965    bundle forget       6          10            2
116      100965     epoxy insect       4          22            2
117      100965    bronze sweden       2           9            2
118      100965   cockpit circle       4          15            2
119      100965    season arthur       4          69            2
120      100965   explain heaven       8          23            2
121      100965       silk gizmo       4          75            2
122      100965    lesson switch       8          41            2
123      100965      saint texas       3          66            2
124      100965     invent topic       8          36            2
125      100965    fractal heart       3          25            2
126      100965     alice ticket       1           2            2
127      100965      choice copy       6          12            2
128      100965    similar malta       3          77            2
129      100965   sabine emotion       5          65            2
130      100965     loyal jungle       4          45            2
...         ...              ...     ...         ...          ...
149985   117512      rider shine       4          64         2998
149986   117512        hand inca       5          32         2998
149987   117512  textile strange       6          86         2998
149988   117512   cockpit circle       6          15         2998
149989   117512     boston house       5           8         2998
149990   117512   frozen command       6          27         2998
149991   117512    lesson switch       4          41         2998
149992   117512    cairo monarch       3          11         2998
149993   117512     invent topic       7          36         2998
149994   117512     alice ticket       3           2         2998
149995   117512  pegasus respond       6          59         2998
149996   117512   sabine emotion       5          65         2998
149997   117512     trivial neon       8          90         2998
149998   117512       tuna relax       3          91         2998
149999   117512    senator ozone       3          71         2998
150000   117512   lexicon ingrid       4          42         2998
150001   117512     motel marvin       6          51         2998
150002   117512      zero nikita       6          99         2998
150003   117512      asia jacket       7           4         2998
150004   117512    parody athena       6          58         2998
150005   117512     judge sunday       6          37         2998
150006   117512    torso cricket       3          88         2998
150007   117512      medusa cuba       5          47         2998
150008   117512        stop door       3          82         2998
150009   117512    theory france       6          87         2998
150010   117512     tunnel nerve       6          92         2998
150011   117512   serial organic       4          72         2998
150012   117512     plume cowboy       6          61         2998
150013   117512     ventura next       5          96         2998
150014   117512    gelatin prime       7          28         2998

[44978 rows x 5 columns]

In [93]:
train_users = user_rating_train_df['NEW USER ID'].to_numpy()
train_products = user_rating_train_df['PRODUCT ID'].to_numpy()
train_ratings = user_rating_train_df['RATING'].to_numpy()

val_users = user_rating_val_df['NEW USER ID'].to_numpy()
val_products = user_rating_val_df['PRODUCT ID'].to_numpy()
val_ratings = user_rating_val_df['RATING'].to_numpy()

In [90]:
train_user

array([   0,    0,    0, ..., 2999, 2999, 2999])

In [67]:
# from sklearn.model_selection import train_test_split

# train_ratio = 0.7
# train_users = shuffled_users[:int(m*train_ratio)]
# train_products = shuffled_products[:int(m*train_ratio)]
# train_ratings = shuffled_ratings[:int(m*train_ratio)]

# val_users = shuffled_users[int(m*train_ratio):]
# val_products = shuffled_products[int(m*train_ratio):]
# val_ratings = shuffled_ratings[int(m*train_ratio):]
# X = user_ratings.loc[ : , ['PRODUCT ID', 'NEW USER ID']].to_numpy()
# y = user_ratings['RATING'].to_numpy()
# X_train, X_val, train_ratings, val_ratings = train_test_split(X, y, test_size=0.3, random_state=42)

In [122]:
# train_users = X_train[:, 1]
# train_products = X_train[:, 0]
# val_users = X_val[:, 1]
# val_products = X_val[:, 0]
train_users

array([   0,    0,    0, ..., 2999, 2999, 2999])

In [160]:
from sklearn.linear_model import LinearRegression

learning_rate = 0.005
k = 10 # the number of features (for each user/product)
n_users = 3000 # the largest index, plus 1
n_products = 100
m = len(train_user)
# print("n_users, n_products:", n_users, n_products)
np.random.seed(42)

def initialize(n_users, n_products, k):
    """Initalize a random model, and normalize it so that it has sensible mean and variance"""
    # (The normalization helps make sure we start out at a reasonable parameter scale, which speeds up training)
    user_features = np.random.normal(size=(n_users, k))
    product_features = np.random.normal(size=(n_products, k))
    raw_predictions = predict((user_features, product_features))
    
    s = np.sqrt(2*raw_predictions.std()) # We want to start out with roughly unit variance
    b = np.sqrt((5 - raw_predictions.mean()/s)/k) # We want to start out with average rating 5
    user_features /= s
    user_features += b
    product_features /= s
    product_features += b
    raw_predictions = predict((user_features, product_features))
    
    return (user_features, product_features)

def predict(model):
    """The model's predictions for all user/product pairs"""
    user_features, product_features = model
    return user_features @ product_features.T

def single_example_step(model, user, product, rating):
    """Update the model using the gradient at a single training example"""
    user_features, product_features = model
    residual = np.dot(user_features[user], product_features[product]) - rating
    grad_users = 2 * residual * product_features[product] # the gradient for the user_features matrix
    grad_products = 2 * residual * user_features[user] # the gradient for the product_features matrix
    user_features[user] -= learning_rate*grad_users
    product_features[product] -= learning_rate*grad_products
#     print(model[0][0])

def train_sgd(model, epochs):
    """Train the model for a number of epochs via SGD (batch size=1)"""
#     user_features, product_features = model
    # It's good practice to shuffle your data before doing batch gradient descent,
    # so that each mini-batch peforms like a random sample from the dataset
    shuffle = np.random.permutation(m)
    shuffled_users = train_users[shuffle]
    shuffled_products = train_products[shuffle]
    shuffled_ratings = train_ratings[shuffle]
    train_user_raw_ID = le_user.inverse_transform(np.unique(train_users))
    train_history = user_history.loc[user_history["USER ID"].isin(train_user_raw_ID)].drop(['USER ID'],axis=1).to_numpy()
    val_user_raw_ID = le_user.inverse_transform(np.unique(val_users))
    val_history = user_history.loc[user_history["USER ID"].isin(val_user_raw_ID)].drop(['USER ID'],axis=1).to_numpy()
        
    reg = LinearRegression()
    for epoch in range(epochs):
        for user, product, rating in zip(shuffled_users, shuffled_products, shuffled_ratings):
            # update the model using the gradient at a single example
            single_example_step(model, user, product, rating)
        # after each Epoch, we'll evaluate our model
        
        reg.fit(train_history, model[0][np.unique(train_users), :])
#         W = reg.coef_ # regression solution of user_history to user_features
        
        val_user_features = reg.predict(val_history)
        model[0][np.unique(val_users), :] = val_user_features
#         user_features[np.unique(val_users), :] = val_user_features
#         model = (user_features, product)
        predicted = predict(model)
#         print(type(val_user_features),len(val_user_features), len(val_user_features[0]), len(W), len(W[0]), val_history.shape)
#         val_pred = val_user_features @ product_features.T
        train_loss = np.mean((train_ratings - predicted[train_users, train_products])**2)
        val_loss = np.mean((val_ratings - predicted[val_users, val_products])**2)
#         val_loss = np.mean((val_ratings - val_pred[])**2)
        print("Loss after epoch #{} is: train/{} --- val/{}".format(epoch+1, train_loss, val_loss))
    return model[0], model[1], reg

sgd_model = initialize(n_users, n_products, k)
user_features, product_features, reg = train_sgd(sgd_model, 10)

1.375007836186322 5.079726581485755
Loss after epoch #1 is: train/6.461153644127605 --- val/7.1764525187478325
Loss after epoch #2 is: train/2.443495772377914 --- val/6.0591359440247565
Loss after epoch #3 is: train/0.6456128861495742 --- val/5.419721980823555
Loss after epoch #4 is: train/0.40128370183829315 --- val/5.36222857744861
Loss after epoch #5 is: train/0.37832274766615587 --- val/5.361849930497153
Loss after epoch #6 is: train/0.3751229436435438 --- val/5.36250716167887
Loss after epoch #7 is: train/0.37412990924570044 --- val/5.362843338265002
Loss after epoch #8 is: train/0.37337438210249374 --- val/5.3629829367112976
Loss after epoch #9 is: train/0.37255905355515484 --- val/5.363017918131855
Loss after epoch #10 is: train/0.3716054795624212 --- val/5.362988480397324

In [224]:
from sklearn.linear_model import LinearRegression

learning_rate = 0.005
k = 10 # the number of features (for each user/product)
n_users = 3000 # the largest index, plus 1
n_products = 100
m = len(train_user)
# print("n_users, n_products:", n_users, n_products)
np.random.seed(42)

def initialize(n_users, n_products, k):
    """Initalize a random model, and normalize it so that it has sensible mean and variance"""
    # (The normalization helps make sure we start out at a reasonable parameter scale, which speeds up training)
    user_features = np.random.normal(size=(n_users, k))
    product_features = np.random.normal(size=(n_products, k))
    raw_predictions = predict((user_features, product_features))
    
    s = np.sqrt(2*raw_predictions.std()) # We want to start out with roughly unit variance
    b = np.sqrt((5 - raw_predictions.mean()/s)/k) # We want to start out with average rating 5
    user_features /= s
    user_features += b
    product_features /= s
    product_features += b
    raw_predictions = predict((user_features, product_features))
    
    return (user_features, product_features)

def predict(model):
    """The model's predictions for all user/product pairs"""
    user_features, product_features = model
    return user_features @ product_features.T

def single_example_step(model, user, product, rating, alpha):
    """Update the model using the gradient at a single training example"""
    user_features, product_features = model
    residual = np.dot(user_features[user], product_features[product]) - rating
    grad_users = 2 * residual * product_features[product] + alpha * user_features[user] # the gradient for the user_features matrix
    grad_products = 2 * residual * user_features[user] + alpha * product_features[product] # the gradient for the product_features matrix
    user_features[user] -= learning_rate*grad_users
    product_features[product] -= learning_rate*grad_products
#     print(model[0][0])

def train_sgd(model, epochs, alpha):
    """Train the model for a number of epochs via SGD (batch size=1)"""
#     user_features, product_features = model
    # It's good practice to shuffle your data before doing batch gradient descent,
    # so that each mini-batch peforms like a random sample from the dataset
    shuffle = np.random.permutation(m)
    shuffled_users = train_users[shuffle]
    shuffled_products = train_products[shuffle]
    shuffled_ratings = train_ratings[shuffle]
    train_user_raw_ID = le_user.inverse_transform(np.unique(train_users))
    train_history = user_history.loc[user_history["USER ID"].isin(train_user_raw_ID)].drop(['USER ID'],axis=1).to_numpy()
    val_user_raw_ID = le_user.inverse_transform(np.unique(val_users))
    val_history = user_history.loc[user_history["USER ID"].isin(val_user_raw_ID)].drop(['USER ID'],axis=1).to_numpy()
        
    reg = LinearRegression()
    for epoch in range(epochs):
        for user, product, rating in zip(shuffled_users, shuffled_products, shuffled_ratings):
            # update the model using the gradient at a single example
            single_example_step(model, user, product, rating, alpha)
        # after each Epoch, we'll evaluate our model
        
        reg.fit(train_history, model[0][np.unique(train_users), :])
#         W = reg.coef_ # regression solution of user_history to user_features
        
        val_user_features = reg.predict(val_history)
        model[0][np.unique(val_users), :] = val_user_features
#         user_features[np.unique(val_users), :] = val_user_features
#         model = (user_features, product)
        predicted = predict(model)
#         print(type(val_user_features),len(val_user_features), len(val_user_features[0]), len(W), len(W[0]), val_history.shape)
#         val_pred = val_user_features @ product_features.T
        train_loss = np.mean((train_ratings - predicted[train_users, train_products])**2)
        val_loss = np.mean((val_ratings - predicted[val_users, val_products])**2)
#         val_loss = np.mean((val_ratings - val_pred[])**2)
        print("Loss after epoch #{} is: train/{} --- val/{}".format(epoch+1, train_loss, val_loss))
    return model[0], model[1], reg

sgd_model = initialize(n_users, n_products, k)
user_features, product_features, reg = train_sgd(sgd_model, 40, 0.1)

Loss after epoch #1 is: train/6.6527821151771045 --- val/7.218250205625862
Loss after epoch #2 is: train/3.1965401071693 --- val/6.337109812965793
Loss after epoch #3 is: train/0.988218870950714 --- val/5.537715294995877
Loss after epoch #4 is: train/0.5096375647562819 --- val/5.368821100033557
Loss after epoch #5 is: train/0.4334310198822468 --- val/5.3507822380496215
Loss after epoch #6 is: train/0.4135443228712458 --- val/5.347944250415327
Loss after epoch #7 is: train/0.4051750279463596 --- val/5.347540914209322
Loss after epoch #8 is: train/0.40041272191215393 --- val/5.3477236110221655
Loss after epoch #9 is: train/0.39716534191629177 --- val/5.348058497389235
Loss after epoch #10 is: train/0.3946648300581246 --- val/5.3484107774164995
Loss after epoch #11 is: train/0.3925416179027281 --- val/5.348729287058214
Loss after epoch #12 is: train/0.39057078218626845 --- val/5.348989909200755
Loss after epoch #13 is: train/0.3885839448321063 --- val/5.349177256843921
Loss after epoch #14 is: train/0.38643228521640016 --- val/5.349277836734954
Loss after epoch #15 is: train/0.3839696448597149 --- val/5.349277489937025
Loss after epoch #16 is: train/0.38104727059721477 --- val/5.349161091625805
Loss after epoch #17 is: train/0.37751933059312714 --- val/5.348914135982389
Loss after epoch #18 is: train/0.37326063851234426 --- val/5.348526251925533
Loss after epoch #19 is: train/0.36819617945660704 --- val/5.347996288352433
Loss after epoch #20 is: train/0.3623355628414505 --- val/5.3473374515267045
Loss after epoch #21 is: train/0.35579681250582135 --- val/5.34657969636959
Loss after epoch #22 is: train/0.34880096790988346 --- val/5.345766651875471
Loss after epoch #23 is: train/0.34163040012256635 --- val/5.344946942477783
Loss after epoch #24 is: train/0.3345658686500625 --- val/5.344163516303552
Loss after epoch #25 is: train/0.32783165648746965 --- val/5.343446078079498
Loss after epoch #26 is: train/0.3215708828319389 --- val/5.3428093778651355
Loss after epoch #27 is: train/0.31585223714230704 --- val/5.342256303887565
Loss after epoch #28 is: train/0.31069351867612355 --- val/5.341782717677244
Loss after epoch #29 is: train/0.30608540126399186 --- val/5.341381478395609
Loss after epoch #30 is: train/0.30200638479634134 --- val/5.341044716128357
Loss after epoch #31 is: train/0.29842851580470536 --- val/5.340764677370278
Loss after epoch #32 is: train/0.2953180554380963 --- val/5.340533887084845
Loss after epoch #33 is: train/0.2926353726947414 --- val/5.340345187455068
Loss after epoch #34 is: train/0.290336145505197 --- val/5.340191859258914
Loss after epoch #35 is: train/0.2883738458990515 --- val/5.340067796571966
Loss after epoch #36 is: train/0.2867025661815234 --- val/5.339967646560991
Loss after epoch #37 is: train/0.28527933924226917 --- val/5.339886865259641
Loss after epoch #38 is: train/0.28406558408161897 --- val/5.339821691400088
Loss after epoch #39 is: train/0.2830277104486954 --- val/5.339769066402262
Loss after epoch #40 is: train/0.2821371065182869 --- val/5.339726530826602

In [225]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge

learning_rate = 0.005
k = 10 # the number of features (for each user/product)
n_users = 3000 # the largest index, plus 1
n_products = 100
m = len(train_user)
# print("n_users, n_products:", n_users, n_products)
np.random.seed(42)

def initialize(n_users, n_products, k):
    """Initalize a random model, and normalize it so that it has sensible mean and variance"""
    # (The normalization helps make sure we start out at a reasonable parameter scale, which speeds up training)
    user_features = np.random.normal(size=(n_users, k))
    product_features = np.random.normal(size=(n_products, k))
    raw_predictions = predict((user_features, product_features))
    
    s = np.sqrt(2*raw_predictions.std()) # We want to start out with roughly unit variance
    b = np.sqrt((5 - raw_predictions.mean()/s)/k) # We want to start out with average rating 5
    user_features /= s
    user_features += b
    product_features /= s
    product_features += b
    raw_predictions = predict((user_features, product_features))
    
    return (user_features, product_features)

def predict(model):
    """The model's predictions for all user/product pairs"""
    user_features, product_features = model
    return user_features @ product_features.T

def single_example_step(model, user, product, rating, alpha):
    """Update the model using the gradient at a single training example"""
    user_features, product_features = model
    residual = np.dot(user_features[user], product_features[product]) - rating
    grad_users = 2 * residual * product_features[product] + alpha * user_features[user] # the gradient for the user_features matrix
    grad_products = 2 * residual * user_features[user] + alpha * product_features[product] # the gradient for the product_features matrix
    user_features[user] -= learning_rate*grad_users
    product_features[product] -= learning_rate*grad_products
#     print(model[0][0])

def train_sgd(model, epochs, alpha):
    """Train the model for a number of epochs via SGD (batch size=1)"""
#     user_features, product_features = model
    # It's good practice to shuffle your data before doing batch gradient descent,
    # so that each mini-batch peforms like a random sample from the dataset
    shuffle = np.random.permutation(m)
    shuffled_users = train_users[shuffle]
    shuffled_products = train_products[shuffle]
    shuffled_ratings = train_ratings[shuffle]
    train_user_raw_ID = le_user.inverse_transform(np.unique(train_users))
    train_history = user_history.loc[user_history["USER ID"].isin(train_user_raw_ID)].drop(['USER ID'],axis=1).to_numpy()
    val_user_raw_ID = le_user.inverse_transform(np.unique(val_users))
    val_history = user_history.loc[user_history["USER ID"].isin(val_user_raw_ID)].drop(['USER ID'],axis=1).to_numpy()
        
    clf = Ridge(alpha=1.0)
#     reg = LinearRegression()
    for epoch in range(epochs):
        for user, product, rating in zip(shuffled_users, shuffled_products, shuffled_ratings):
            # update the model using the gradient at a single example
            single_example_step(model, user, product, rating, alpha)
        # after each Epoch, we'll evaluate our model
        
#         reg.fit(train_history, model[0][np.unique(train_users), :])
        clf.fit(train_history, model[0][np.unique(train_users), :])
#         W = reg.coef_ # regression solution of user_history to user_features
        
        val_user_features = clf.predict(val_history)
        model[0][np.unique(val_users), :] = val_user_features
#         user_features[np.unique(val_users), :] = val_user_features
#         model = (user_features, product)
        predicted = predict(model)
#         print(type(val_user_features),len(val_user_features), len(val_user_features[0]), len(W), len(W[0]), val_history.shape)
#         val_pred = val_user_features @ product_features.T
        train_loss = np.mean((train_ratings - predicted[train_users, train_products])**2)
        val_loss = np.mean((val_ratings - predicted[val_users, val_products])**2)
#         val_loss = np.mean((val_ratings - val_pred[])**2)
        print("Loss after epoch #{} is: train/{} --- val/{}".format(epoch+1, train_loss, val_loss))
    return model[0], model[1], clf

sgd_model = initialize(n_users, n_products, k)
user_features, product_features, clf = train_sgd(sgd_model, 40, 0.1)

Loss after epoch #1 is: train/6.6527821151771045 --- val/7.2179198467523955
Loss after epoch #2 is: train/3.1965401071693 --- val/6.335265072054294
Loss after epoch #3 is: train/0.988218870950714 --- val/5.534872970267002
Loss after epoch #4 is: train/0.5096375647562819 --- val/5.365743232398776
Loss after epoch #5 is: train/0.4334310198822468 --- val/5.34761238993128
Loss after epoch #6 is: train/0.4135443228712458 --- val/5.344717346606347
Loss after epoch #7 is: train/0.4051750279463596 --- val/5.344273664701075
Loss after epoch #8 is: train/0.40041272191215393 --- val/5.344425994815349
Loss after epoch #9 is: train/0.39716534191629177 --- val/5.3447370868435105
Loss after epoch #10 is: train/0.3946648300581246 --- val/5.345070191489655
Loss after epoch #11 is: train/0.3925416179027281 --- val/5.345372930946951
Loss after epoch #12 is: train/0.39057078218626845 --- val/5.345620386436122
Loss after epoch #13 is: train/0.3885839448321063 --- val/5.345796614603014
Loss after epoch #14 is: train/0.38643228521640016 --- val/5.345887718783742
Loss after epoch #15 is: train/0.3839696448597149 --- val/5.345879234014724
Loss after epoch #16 is: train/0.38104727059721477 --- val/5.345755790260112
Loss after epoch #17 is: train/0.37751933059312714 --- val/5.34550267106049
Loss after epoch #18 is: train/0.37326063851234426 --- val/5.345109310003352
Loss after epoch #19 is: train/0.36819617945660704 --- val/5.344574364461009
Loss after epoch #20 is: train/0.3623355628414505 --- val/5.343910852970279
Loss after epoch #21 is: train/0.35579681250582135 --- val/5.343148561184966
Loss after epoch #22 is: train/0.34880096790988346 --- val/5.342330993146407
Loss after epoch #23 is: train/0.34163040012256635 --- val/5.341506716218523
Loss after epoch #24 is: train/0.3345658686500625 --- val/5.340718693906929
Loss after epoch #25 is: train/0.32783165648746965 --- val/5.3399966983489
Loss after epoch #26 is: train/0.3215708828319389 --- val/5.339355564546822
Loss after epoch #27 is: train/0.31585223714230704 --- val/5.338798252931594
Loss after epoch #28 is: train/0.31069351867612355 --- val/5.338320670046835
Loss after epoch #29 is: train/0.30608540126399186 --- val/5.337915693964999
Loss after epoch #30 is: train/0.30200638479634134 --- val/5.337575456729633
Loss after epoch #31 is: train/0.29842851580470536 --- val/5.337292199337679
Loss after epoch #32 is: train/0.2953180554380963 --- val/5.3370584395410114
Loss after epoch #33 is: train/0.2926353726947414 --- val/5.336867012261399
Loss after epoch #34 is: train/0.290336145505197 --- val/5.336711190273221
Loss after epoch #35 is: train/0.2883738458990515 --- val/5.336584857754121
Loss after epoch #36 is: train/0.2867025661815234 --- val/5.336482649539227
Loss after epoch #37 is: train/0.28527933924226917 --- val/5.336400007156304
Loss after epoch #38 is: train/0.28406558408161897 --- val/5.336333153423519
Loss after epoch #39 is: train/0.2830277104486954 --- val/5.336279013340267
Loss after epoch #40 is: train/0.2821371065182869 --- val/5.336235111324436

In [176]:
# user_has_no_rating_ID = le_user.inverse_transform
user_has_no_rating_history = user_history.loc[~user_history['USER ID'].isin(le_user.inverse_transform(user_ID_has_rating))]
user_has_no_rating_history

,USER ID,nectar prague,joshua sleep,gallery fiesta,jerome jazz,motif polo,zigzag germany,susan sonar,alamo group,gilbert chicken,...,pandora oval,cabinet state,cecilia raja,memo darwin,enigma recycle,olivia image,world blonde,begin unit,rodeo santana,drum spring
3000,117520,3.000726,0.070635,0.381457,0.257577,1.712337,0.974035,2.675557,2.107457,2.825987,...,0.256588,0.328016,1.143935,0.103216,1.733364,2.747327,0.275460,0.844610,1.305837,1.202067
3001,117524,2.583719,1.142150,1.264968,0.063552,0.852901,0.371452,4.790766,0.698015,0.421118,...,2.791817,0.826726,0.484192,3.312540,0.810769,2.583693,2.059319,1.136184,1.484117,0.320050
3002,117528,2.027377,0.727344,0.620444,0.712206,1.095425,1.323965,1.756126,0.826103,3.759801,...,0.447300,0.437584,1.962176,0.339452,1.610330,2.445547,0.299792,0.872769,1.065258,1.609381
3003,117534,0.501865,3.469311,0.802662,1.371672,2.097215,5.389470,0.833500,0.242433,0.368434,...,2.146042,2.750475,2.912346,2.112790,1.492484,1.650485,1.676588,0.222481,0.046113,0.209798
3004,117541,1.799634,0.169895,0.025495,1.046450,0.755846,1.180815,1.886492,0.459881,3.673586,...,0.901650,0.307559,2.511045,0.295096,1.990185,2.028891,0.319439,0.828854,0.891863,0.895777
3005,117547,1.246277,0.556756,0.175383,1.520120,0.659172,1.739579,1.564645,0.566735,4.333539,...,1.035817,0.024206,2.564898,0.428712,0.731522,1.599610,0.139572,1.141678,0.400926,0.932193
3006,117557,3.536232,1.720407,2.059079,0.549475,0.263427,0.302302,5.302829,0.771326,0.048339,...,2.759826,0.788604,0.740666,3.620508,1.259953,1.957621,1.496238,1.713611,1.719951,0.229024
3007,117566,3.299903,0.797886,0.419490,0.512464,1.721692,0.796348,3.220439,1.872899,3.025514,...,0.404778,0.338210,1.508956,0.373541,2.478937,2.510279,0.603559,0.968208,1.242805,1.820394
3008,117569,1.667100,0.016625,1.514675,1.828692,1.751098,0.734657,4.109007,1.122057,1.734052,...,3.659234,1.209487,0.958494,3.164164,0.491532,3.087494,2.749384,0.900944,0.558263,1.385695
3009,117572,3.341924,1.287243,0.048651,0.453127,2.057302,0.532988,3.036559,2.607195,2.500330,...,1.120953,0.512724,1.034903,0.067870,2.353950,2.770980,0.947721,0.861711,1.322431,1.621516
3010,117581,2.252349,0.121661,0.020200,0.823654,1.289923,1.293109,2.180539,0.875018,3.305046,...,0.310121,0.036165,1.843329,0.131127,2.366107,2.709491,1.092414,1.091903,0.833728,1.361847
3011,117584,1.413269,0.276754,0.317440,1.291277,0.320038,1.679826,2.457461,0.550354,3.453839,...,0.143864,0.125216,2.410216,0.175594,1.279732,2.021988,0.406687,0.864716,0.629171,0.953447
3012,117588,2.735518,1.585549,2.092242,0.407484,0.261657,0.278796,3.710713,0.229549,0.213789,...,2.470370,1.283955,0.755776,3.503437,0.884732,1.686699,1.951576,1.031499,1.673704,0.473589
3013,117596,3.119123,1.605016,2.090459,1.014566,0.039440,0.176371,4.892174,1.193649,0.225495,...,2.021236,0.101537,1.261441,3.280421,1.000647,1.943050,2.055038,1.346428,1.782921,0.045948
3014,117604,1.882838,0.265293,1.821320,0.282289,1.343952,0.553932,4.359881,0.054263,0.996410,...,3.033459,0.689331,0.573706,3.017579,0.517640,2.978269,2.611174,0.939532,0.929917,0.858053
3015,117610,2.152674,1.345704,2.441492,0.301598,0.380851,0.082293,3.644615,0.492251,0.817231,...,3.949495,0.859747,0.734107,3.715216,1.010717,1.897821,2.143185,0.888284,1.433753,0.169351
3016,117611,2.256808,0.051779,0.358126,0.700193,0.865212,1.877785,1.889373,1.890532,3.620688,...,0.374558,0.208322,1.777456,0.166101,1.838229,2.229157,0.810111,0.459270,0.410148,1.166345
3017,117621,3.361381,1.522499,0.740354,0.895617,2.997193,0.518847,2.775111,2.813114,2.047403,...,0.325078,0.501561,0.624039,0.325343,2.671859,3.696181,1.477781,1.318497,1.914172,2.389238
3018,117623,1.576327,0.114161,0.103992,1.332620,0.729044,1.740682,1.246106,0.658365,3.648787,...,1.272163,0.434378,3.020212,0.519247,1.622467,1.940190,0.405196,1.430751,0.942791,0.961848
3019,117626,1.224092,3.517673,1.132225,2.291272,2.176258,4.798174,0.736126,0.508748,0.901428,...,1.788177,1.982501,3.343059,1.973552,0.334520,1.685578,2.374701,0.212585,0.662391,0.648489
3020,117634,2.812611,0.318333,0.026846,0.738168,1.070868,1.395886,2.486564,1.837486,3.301191,...,0.111227,0.430024,1.320937,0.083276,2.304963,2.504109,0.434906,0.532992,1.431169,1.035390
3021,117635,1.202564,3.789795,1.565366,1.843958,3.057966,4.931407,0.619031,1.454884,1.634232,...,1.257973,1.886145,3.861207,1.810535,0.752036,1.382754,2.026941,0.105924,0.415536,0.836328
3022,117645,3.718579,0.930974,0.670183,0.843561,2.008698,1.044710,2.667593,2.134186,2.711413,...,0.412052,0.199882,0.227607,0.359769,2.994313,3.429146,0.597713,0.938519,1.341570,2.698962
3023,117649,2.433111,0.774829,2.127398,0.075746,0.429332,0.039864,3.905463,0.185110,0.498968,...,3.540699,0.761278,0.460033,3.349934,0.162609,2.452681,1.969605,1.155956,1.168442,0.319727
3024,117657,3.139288,1.481050,2.093719,0.151275,0.151072,0.120536,4.412725,0.622261,0.235402,...,2.302613,0.794151,1.016487,3.081968,1.075167,1.972378,1.943561,0.809887,1.197833,0.005215
3025,117658,2.181236,0.479281,0.215238,0.011409,0.658492,1.396069,2.528576,1.557657,3.309781,...,0.359537,0.134538,1.918332,0.032577,1.793789,2.113748,0.347269,0.346317,0.736763,1.112000
3026,117664,2.937497,0.599788,0.512239,0.321188,1.639201,1.068954,2.598971,1.893333,2.740571,...,0.046242,0.041813,1.021916,0.053678,2.223928,2.854130,0.451973,0.774093,0.756089,2.205143
3027,117674,0.219961,2.993508,1.220413,1.527400,2.006021,5.242158,0.063571,2.088899,0.729509,...,0.513682,1.985981,3.071179,1.863111,0.972958,1.975915,2.103189,0.164000,0.150090,0.058496
3028,117677,2.366644,0.714438,2.275690,0.126958,0.894780,0.045757,4.022896,0.512064,0.360240,...,2.374168,0.804107,0.206882,3.243301,0.505277,2.242025,2.233184,0.728962,1.022111,0.351537
3029,117678,3.482100,1.921154,2.333256,0.886497,0.403906,0.360658,4.570208,0.649497,0.335645,...,2.745154,0.601135,1.489575,3.553928,1.163151,1.613717,1.835475,0.664046,1.515452,0.593997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4470,125811,2.931292,1.625673,1.726413,0.688249,1.173224,0.622812,5.227897,1.065776,0.210618,...,1.756117,0.535324,0.906211,2.882137,0.370914,2.049757,2.203972,0.903055,1.522055,0.357046
4471,125815,3.014999,1.571864,2.287373,0.440813,0.131869,0.055869,4.818988,0.824268,0.343550,...,2.371182,1.144575,0.493410,2.700952,0.391470,2.251691,2.219345,0.952418,1.514894,0.282029
4472,125821,3.301466,1.525631,2.099637,0.612711,0.439680,0.129100,5.164366,1.159941,0.026780,...,2.148620,0.569479,1.238737,3.716187,1.490075,2.027646,2.108199,0.801404,1.406391,0.169762
4473,125831,2.880485,0.268904,0.513028,0.292726,1.542870,0.871369,2.591653,1.963193,2.869535,...,0.538716,0.373566,0.745835,0.312210,2.795124,3.119124,0.717718,1.010296,1.123379,1.770066
4474,125838,3.241327,2.026840,1.847946,0.842318,0.025594,0.002461,5.043598,0.939653,0.049844,...,2.317262,0.786294,1.388564,2.776510,1.172189,1.625279,2.426437,0.967062,1.856087,0.213475
4475,125839,2.410209,4.250939,1.179113,2.978875,3.039904,4.787590,2.270863,0.816719,1.783748,...,3.260642,2.176565,4.447832,2.336168,0.422102,0.808657,2.149579,0.183797,0.805232,0.580255
4476,125846,2.408983,0.600111,0.569539,0.346962,1.305340,1.181204,2.233636,1.028220,2.994721,...,0.852037,0.232928,2.123408,0.173784,2.094463,2.732985,0.153600,0.973579,1.338784,1.405608
4477,125852,2.471442,0.108514,0.257531,0.663775,1.873333,0.852808,2.141935,0.994669,2.941689,...,0.249595,0.175337,1.156679,0.785360,2.476599,2.678708,0.716986,0.751025,0.999963,1.580769
4478,125859,1.581756,0.016784,0.258593,1.000829,0.362531,1.763376,2.493097,1.304861,3.850875,...,0.373788,0.125862,2.671385,0.202590,1.232441,2.151251,0.021255,0.722913,0.089009,0.661970
4479,125866,2.994610,0.342407,0.378907,0.312473,1.108180,1.223213,3.204365,2.618812,2.806513,...,0.811944,0.157739,1.344671,0.355040,1.705203,2.450672,0.405883,1.047002,0.823642,1.605889
4480,125875,2.106030,0.566418,0.332963,0.855800,0.950217,0.982274,2.384483,0.995222,3.640870,...,0.410234,0.060245,2.798816,0.275817,1.675458,2.289915,0.213345,1.290237,0.449823,0.516286
4481,125877,0.366857,2.717611,0.462142,0.537321,0.999269,5.997674,0.440145,2.183481,0.188643,...,1.768359,2.199339,1.776138,2.099728,1.984509,2.687221,1.581094,0.079599,0.693560,0.905931
4482,125881,0.668365,3.562219,1.190967,1.114929,1.659748,4.916710,0.294600,2.049961,0.701473,...,0.649635,2.362677,2.391218,1.806285,0.897790,2.358197,1.786072,0.263369,0.009196,0.001648
4483,125889,0.071716,3.083242,1.781113,0.970356,1.914985,5.117143,1.249304,3.244435,0.318705,...,0.609301,2.016152,1.953557,1.724932,1.246900,1.925732,1.874353,0.664973,0.042253,0.111033
4484,125892,3.578352,0.691451,0.057791,0.340791,1.405043,0.909857,3.744742,2.702079,2.496131,...,0.842105,0.326615,0.906408,0.704913,2.522301,2.971677,0.548772,0.926417,0.642930,2.089929
4485,125901,2.292438,1.400577,1.990967,0.514557,0.998109,0.049756,4.081351,0.477969,0.878936,...,2.709160,0.285034,0.030445,3.605068,0.186771,1.931969,1.825759,1.166463,1.451148,0.506285
4486,125908,3.161192,1.043711,0.546264,0.146301,2.276081,1.074301,2.571312,1.673549,2.537255,...,0.011544,0.056996,1.270547,0.162393,3.077054,2.983454,0.589914,0.643089,1.762283,1.739638
4487,125917,2.431851,0.091861,0.077106,0.687572,0.715686,1.539716,2.561831,1.788892,3.084880,...,0.529607,0.885842,1.922461,0.480947,1.589429,2.076082,0.315644,0.825084,1.019552,1.118085
4488,125919,2.396749,0.648838,0.577967,0.116398,1.600577,0.872063,2.551410,2.209864,2.538246,...,0.172457,0.049804,1.220534,0.010433,2.061773,2.674710,0.356298,1.126882,1.170391,1.594744
4489,125923,1.935437,0.884689,0.230202,1.269775,0.197696,1.374159,1.732315,0.944745,3.903187,...,0.983845,0.304298,2.777468,0.224391,0.990121,1.939591,0.307279,0.841838,0.170327,0.815057
4490,125930,0.171020,2.146185,1.169829,0.704803,0.964642,5.950552,1.023195,3.398911,0.323390,...,0.068614,2.206770,2.223567,1.813036,1.942547,2.693252,1.416420,0.318963,0.664785,1.201376
4491,125934,2.774790,1.244898,2.331444,0.266012,0.119381,0.276534,4.370043,0.023119,0.305826,...,3.102630,0.811361,0.293495,3.441304,0.689299,2.081357,2.499113,0.574219,1.482966,0.002757
4492,125944,0.918332,3.014557,1.435329,1.178058,2.592426,4.738943,0.078509,2.199319,0.656546,...,0.641264,2.176180,3.562006,1.356646,0.438024,1.505387,1.728808,0.197032,0.690920,0.628746
4493,125948,1.447418,0.608800,0.013934,1.730766,0.028134,1.538195,1.936367,0.728515,4.097608,...,0.563537,0.053601,3.178632,0.364187,0.985341,1.830816,0.237687,0.547861,0.045997,0.139102
4494,125949,1.849165,4.278646,1.921608,3.184316,3.109582,4.079078,1.073422,0.095621,2.115576,...,1.895274,2.341575,4.627259,2.280306,0.065094,0.691813,2.429720,0.354640,0.797777,1.090176
4495,125956,2.738878,0.957712,1.674725,0.173587,0.186299,0.391812,4.997852,0.046969,0.695524,...,2.785548,0.742720,0.186786,3.465026,0.203398,2.284759,2.217114,0.876435,1.398529,0.019413
4496,125959,1.580211,0.277340,1.753653,0.463401,1.199138,0.111962,4.936933,0.562928,1.460760,...,2.107450,0.304415,0.131906,2.799807,0.337960,2.820240,2.811227,1.109191,1.261148,0.744492
4497,125960,1.581194,0.612221,0.092607,0.580150,0.059301,1.871455,2.643340,0.833244,4.091700,...,0.031897,0.034919,2.505496,0.768374,1.384736,1.656134,0.017379,0.433547,0.304399,0.476048
4498,125969,2.575268,1.145717,1.630768,0.012626,0.270175,0.361497,4.901699,0.354532,0.601499,...,2.622300,0.859430,0.551948,3.573254,0.475033,2.511920,2.191839,1.117195,1.489342,0.556711
4499,125976,1.842385,0.233977,0.004078,0.967631,0.308991,1.635580,1.850300,0.743666,3.954159,...,0.325516,0.250370,2.270750,0.081539,0.919054,2.199319,0.532850,1.122364,0.838273,1.053074

In [177]:
user_has_no_rating_features = reg.predict(user_has_no_rating_history.drop(['USER ID'],axis=1).to_numpy())
len(user_has_no_rating_features), len(user_has_no_rating_features[0])

(1500, 10)

In [178]:
all_user_features = np.concatenate((user_features, user_has_no_rating_features), axis=0)
all_user_predicted = all_user_features @ product_features.T
len(all_user_predicted), len(all_user_predicted[0])

(4500, 100)

In [111]:
val_user_raw_ID = le_user.inverse_transform(np.unique(val_users))
val_history = user_history.loc[user_history["USER ID"].isin(val_user_raw_ID)].drop(['USER ID'],axis=1)
val_history.to_numpy()
len(val_history.to_numpy()), len(val_history.to_numpy()[0])

(900, 100)

In [97]:
train_user_raw_ID = le_user.inverse_transform(np.unique(train_users))
# len(train_user_raw_ID)
train_history = user_history.loc[user_history["USER ID"].isin(train_user_raw_ID)].drop(['USER ID'],axis=1)
np.unique(train_users)

array([   0,    1,    4, ..., 2995, 2996, 2999])

In [75]:
train_user_raw_ID, train_users

(array([100953, 100955, 100965, ..., 117510, 117512, 117517]),
 array([ 576,  227, 1225, ..., 2636, 2936, 2435]))

In [76]:
train_user_raw_ID = np.unique(le_user.inverse_transform(train_users))
train_history = user_history.loc[user_history["USER ID"].isin(train_user_raw_ID)].drop(['USER ID'],axis=1)
train_history

,nectar prague,joshua sleep,gallery fiesta,jerome jazz,motif polo,zigzag germany,susan sonar,alamo group,gilbert chicken,history private,...,pandora oval,cabinet state,cecilia raja,memo darwin,enigma recycle,olivia image,world blonde,begin unit,rodeo santana,drum spring
0,1.484013,0.257857,0.239617,1.133965,0.599283,2.001566,2.007976,1.129472,4.337007,3.388465,...,0.489561,0.059119,2.177327,0.063949,1.579579,1.977560,0.009971,0.869408,0.676175,0.977309
1,1.350588,0.397670,0.308198,0.660640,0.900114,1.482669,2.052944,1.052420,3.597033,2.799935,...,0.098677,0.201854,1.980738,0.078014,1.692670,2.330878,0.333127,0.942450,0.837264,1.031710
2,2.576723,1.098803,1.764609,0.157183,0.826298,0.094709,4.495690,0.733354,1.453999,0.809408,...,2.000441,0.541809,0.045513,2.939113,0.349863,2.440363,2.199525,1.035054,1.466515,0.173144
3,2.307185,0.236830,0.318632,0.594718,0.940251,1.296865,2.451781,1.386342,3.503421,3.563688,...,0.037346,0.004922,1.729340,0.302608,1.960916,2.513448,0.776575,0.367702,0.869511,1.108934
4,0.526058,2.419744,0.548373,0.109904,1.261197,5.836276,0.204255,2.655214,0.056144,0.617814,...,0.553128,1.847459,1.882823,2.214928,1.869845,2.168439,1.388244,0.081731,0.402835,0.708239
5,1.022697,0.337878,0.364419,1.780540,0.376503,1.884796,1.288596,0.196878,3.746318,1.869156,...,1.259359,0.370162,2.458102,0.373636,1.344079,2.029092,0.149894,0.910913,0.755582,0.708137
6,2.856677,1.122945,1.867636,0.167453,0.654047,0.720790,4.230481,0.835277,1.178175,0.628766,...,2.577786,0.440721,0.438382,3.189517,1.113184,1.776648,1.978874,0.744761,1.254180,0.424063
7,1.483582,4.217846,1.229463,2.256226,2.768330,4.851527,0.412439,0.352141,1.830136,2.560953,...,1.681524,1.967311,4.164025,1.766056,0.668294,1.600152,1.803167,0.010263,0.926644,0.636704
8,2.208917,0.175096,0.466090,1.790422,0.549158,1.073853,1.460456,0.532191,3.438821,2.685225,...,0.624525,0.242650,2.485291,0.527187,1.476299,2.186176,0.566181,1.143914,0.914012,1.247935
9,2.063558,0.275885,0.025109,0.270573,1.610774,1.574283,2.109203,1.616352,3.490566,3.672162,...,0.198147,0.144789,1.897490,0.294849,2.260956,2.565902,0.705275,0.917353,1.039451,1.292006
10,2.376851,0.876906,2.380454,0.121075,0.970423,0.144330,3.867657,0.833418,0.644780,1.307837,...,3.552304,0.633130,0.545862,3.760924,0.444041,2.331930,2.499300,0.629308,1.612752,0.322015
11,0.380142,2.734971,1.444835,1.443393,2.291426,5.241785,0.355288,2.200558,0.486390,0.824160,...,0.787882,1.581772,2.672685,1.516079,1.144411,1.984895,1.819392,0.186572,0.026324,0.339088
12,0.722037,3.409463,1.225953,1.896733,2.044477,5.283608,0.752156,1.216302,0.633719,1.636064,...,1.168885,2.743967,3.083725,2.486174,0.778142,2.108184,1.306492,0.040016,0.192021,0.233401
13,1.582887,3.865695,0.627793,2.026267,1.998320,5.046883,1.181192,0.696514,0.769578,2.965749,...,1.771251,1.922267,3.529653,2.391733,1.329302,1.111343,1.689788,0.060576,0.490871,0.195119
14,3.488318,1.635379,2.340857,0.608231,0.089074,0.705941,5.167936,1.459057,0.683839,0.427935,...,1.929575,0.443654,1.108831,3.246550,0.992436,1.720676,2.397001,1.300271,1.306609,0.241714
15,0.995762,3.685332,1.333167,1.508461,2.201259,4.817175,0.216818,1.609061,1.289114,1.847435,...,1.061713,1.799470,3.199867,1.872482,0.589152,1.488038,2.055489,0.237783,0.409047,0.267877
16,0.856779,2.762069,1.449151,1.795617,2.367375,5.123396,0.686035,2.156427,0.963177,1.365088,...,0.140262,2.239685,2.710586,1.519644,1.020705,1.774087,2.004442,0.365480,0.992092,0.187823
17,2.564602,0.763548,1.820119,0.904470,1.111684,0.160956,3.766995,0.316095,0.606791,1.195925,...,3.670078,0.898769,0.590223,3.768606,0.313689,2.651498,1.731623,0.659348,1.078004,0.390541
18,0.668274,2.997808,1.409591,1.124040,2.114164,5.499796,0.139845,1.569021,0.879519,1.827963,...,1.073194,1.901515,2.827927,1.573253,1.320366,1.683147,2.137929,0.706445,0.402795,0.172600
19,1.578671,3.522992,1.091530,1.902251,2.037259,5.278267,1.119199,0.609457,1.035717,2.759042,...,2.060760,2.518477,3.797635,2.374919,0.889607,1.147024,2.418694,0.399051,0.877906,0.376860
20,2.662744,1.705678,1.726395,0.391761,0.590564,0.434118,4.386090,0.227680,0.627573,0.926224,...,2.937324,0.934758,0.525580,3.258620,0.560025,1.892489,2.137729,0.867483,1.968541,0.196113
21,2.082857,0.838034,1.843062,0.241974,0.852500,0.045865,4.332759,0.145346,1.030620,1.245957,...,2.773140,0.715847,0.083510,3.662709,0.431028,2.447494,1.998982,1.175190,1.315968,0.249672
22,1.958980,0.815949,2.020656,0.703160,1.245511,0.247029,3.897644,0.318694,1.156809,1.695325,...,3.426560,0.677122,0.101837,3.824565,0.173949,2.928638,1.807755,0.767824,0.657705,0.522952
23,0.137077,2.788735,0.673440,1.434050,1.270661,5.720938,0.013644,1.589627,0.047830,1.777685,...,1.520827,2.098789,2.842443,2.188262,1.344650,2.470731,1.768914,0.203567,0.056071,0.869953
24,2.591193,0.123808,0.530539,0.045092,1.044617,1.127391,3.067943,1.904522,3.114358,4.297531,...,0.820558,0.396453,1.609299,0.444168,1.785472,2.182332,0.116292,1.005191,0.804174,0.920400
25,2.385603,1.425526,1.770923,0.135175,0.497192,0.608444,4.148238,0.518783,0.225838,0.626253,...,3.510715,0.458373,0.370794,3.757418,0.066057,2.657174,2.026428,0.853551,0.840513,0.775209
26,3.001095,0.646320,0.512563,0.029467,1.973922,0.938059,1.795977,1.450954,2.831719,3.323351,...,0.318816,0.088735,0.883123,0.375623,2.090708,2.781165,0.798430,1.218293,1.385196,1.798080
27,0.900436,3.240867,1.111371,1.463711,2.138218,5.213545,0.485100,0.930985,0.860885,2.404464,...,1.606544,2.249678,3.363569,1.596147,0.936616,1.673515,1.800218,0.311388,0.436303,0.163148
28,2.264592,0.327982,0.448902,0.614715,0.520034,1.466416,2.639483,1.292479,3.284934,3.594609,...,0.647364,0.104440,1.735872,0.044051,0.937051,1.770124,0.426599,0.428526,0.287223,0.830526
29,1.456170,3.194457,0.789833,1.429102,0.891660,5.365153,0.901756,0.309983,0.503957,2.447521,...,2.424603,2.078562,3.194543,2.534277,1.696601,1.440695,1.524986,0.164145,0.012126,0.353058
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2970,1.005897,2.862670,0.275597,1.853627,1.575466,5.410066,0.569186,0.298435,0.784147,2.256147,...,1.748911,2.271895,2.661819,2.376803,1.125288,1.698126,1.557113,0.325184,0.151613,0.199467
2971,2.967603,1.303981,2.115853,0.099546,0.701454,0.296641,4.144557,0.208346,0.493424,0.676876,...,3.039124,1.027416,0.133270,3.539673,0.202887,2.212200,2.488608,1.112952,1.644984,0.117917
2972,1.902037,3.504689,0.738609,3.176846,2.749225,4.466671,2.151687,0.642706,1.593737,3.607724,...,3.212408,2.354959,4.035183,2.551940,0.559695,1.566617,1.988163,0.077637,0.493069,0.354030
2973,2.121042,1.264167,1.888025,0.557380,0.202100,0.427638,3.306043,0.560113,1.024003,1.528755,...,3.984539,1.246146,0.044324,3.813444,1.050934,2.167011,2.405342,0.931702,0.942764,0.409392
2974,2.600264,0.388552,0.273472,0.785305,1.520778,0.847254,2.505053,1.257670,3.133908,3.296273,...,0.551485,0.193590,1.670455,0.045575,2.042419,2.421018,0.129399,1.140421,1.076212,0.939884
2975,1.842687,0.928516,1.408155,0.551617,0.913952,0.425262,4.148632,0.231394,1.253541,1.246947,...,3.233102,0.875109,0.152500,3.513590,0.377292,2.735352,2.541054,1.001924,0.912740,0.782562
2976,2.090624,0.925823,2.672560,0.452008,0.953079,0.076145,3.608360,0.427397,0.858656,1.635055,...,3.473865,0.453116,0.053507,3.627406,0.530738,2.408524,2.152450,0.579276,1.255518,0.448415
2977,0.520959,3.209659,1.085091,2.015179,1.560936,5.272738,0.381678,1.177393,0.409248,2.265721,...,1.619511,2.353709,3.095232,1.702943,1.223855,2.150895,1.908456,0.535295,0.624043,0.425853
2978,1.503485,3.156167,0.813926,2.204456,2.541148,4.726494,0.902328,0.591385,0.444621,2.692927,...,2.096177,2.385921,3.316094,2.588699,0.539913,1.713789,2.464161,0.456936,0.472033,0.672808
2979,2.055411,0.478361,0.459255,0.110264,1.056803,1.695638,2.505544,1.865401,3.327835,3.587824,...,0.019064,0.337107,2.364945,0.418374,1.840673,1.539217,0.702403,0.698751,1.010095,1.133993
2980,1.129911,3.188765,0.572767,1.945538,2.078108,5.352400,0.514852,1.308218,0.597965,2.368286,...,1.527400,1.972424,2.783083,2.352742,1.106643,1.849217,1.648197,0.118179,0.025585,0.005746
2981,2.691633,0.511245,0.368123,0.405543,1.241901,1.264130,3.148102,1.662553,3.698558,3.924558,...,0.838493,0.001475,1.843967,0.526513,2.300701,2.612306,0.109472,1.229663,1.128443,0.699597
2982,1.489651,3.622784,1.447970,1.578400,2.250294,4.954877,0.509576,1.514881,1.309672,1.867219,...,0.901019,1.916531,3.377978,2.261058,0.507340,1.306712,2.101492,0.365982,0.078641,0.258020
2983,2.761508,1.273131,1.763797,0.087438,0.167832,0.553421,4.745837,0.236467,0.398573,1.244910,...,3.170539,0.584923,0.201261,3.509768,0.482270,2.093752,2.390808,0.714955,1.787813,0.254808
2984,2.195306,4.319396,1.191275,2.875813,3.364424,4.670808,0.832535,0.285155,1.767479,2.996065,...,2.022159,2.501051,4.078885,1.996756,0.158546,0.745770,2.606400,0.101506,0.546363,1.042043
2985,1.179443,3.884370,1.583018,2.595934,2.887185,4.617718,0.524742,1.404834,0.802166,2.166627,...,1.658940,2.290013,3.238902,1.890658,0.828022,1.479688,1.913484,0.165272,0.497506,0.056703
2986,2.063300,0.756298,1.679944,0.747847,1.427433,0.335340,4.135207,0.583885,0.952916,1.802150,...,3.145045,0.884895,0.578118,3.142175,0.559937,2.804249,2.353104,0.516783,0.658808,0.521253
2987,0.411559,2.768771,1.105185,0.789173,1.341678,5.278903,0.191422,1.992085,0.517873,1.455060,...,1.242374,1.954869,2.473611,1.958297,1.702669,2.428865,1.314876,0.096771,0.025753,0.736164
2988,2.231780,0.227718,0.834501,0.258761,1.112382,0.999634,1.893130,0.924581,3.147559,2.876368,...,1.225966,0.094622,1.600297,0.707579,1.531155,2.286078,0.618237,1.364527,1.429246,1.044926
2989,3.298501,0.156325,0.565690,0.040579,1.791376,0.764001,2.996038,2.797144,2.069286,4.185547,...,0.374690,0.516972,1.137518,0.347234,2.298143,2.646465,0.569558,0.870676,1.469739,2.087641
2990,2.903800,1.175405,1.777558,0.695658,0.802310,0.495384,5.011034,1.635592,0.737007,0.704806,...,1.973727,0.741896,0.362992,2.842774,0.267543,1.924380,2.201333,1.153398,1.044074,0.544152
2991,2.608312,1.052216,2.739966,0.849295,0.327338,0.527662,3.547280,0.848080,0.234106,1.323592,...,3.873799,1.038016,0.124775,4.059265,1.071764,1.803455,2.357915,0.743305,1.367328,0.017813
2992,0.137950,3.058594,0.977426,0.787563,1.541363,5.593168,0.014961,2.250074,0.129128,0.544679,...,0.404068,2.458932,2.421291,1.616980,1.928950,2.126257,1.300967,0.057935,0.248003,0.212111
2993,2.688142,1.558261,1.674169,0.151931,0.523754,0.288651,4.489460,0.707848,0.952379,0.337132,...,2.311822,0.438388,0.536335,3.199112,0.653401,2.503827,1.824905,0.518383,0.672103,0.158213
2994,2.391643,0.698394,0.417271,0.068133,1.988373,0.964167,1.985244,1.123399,2.983692,3.443200,...,0.287063,0.285058,1.193671,0.684207,1.940146,2.475717,0.597626,0.783307,1.144557,1.734471
2995,2.459625,1.287410,1.937863,0.231639,0.879007,0.107106,4.324768,0.583611,0.660825,0.581181,...,2.845118,0.475823,0.780986,2.878355,0.228043,2.211376,2.557685,0.672398,1.324569,0.704464
2996,3.175449,1.590208,2.061802,0.088390,0.586561,0.223506,5.065441,0.601090,0.508428,0.928277,...,2.937306,0.942063,0.005333,3.371160,0.480073,1.832231,1.827920,1.190411,1.797616,0.211769
2997,1.366185,0.404764,0.255198,0.757401,0.205298,1.205993,1.807180,0.264156,3.870535,2.616943,...,0.944432,0.191701,2.442943,0.212940,1.296218,2.224206,0.211653,1.023305,0.339503,0.675155
2998,2.590708,1.548667,2.088735,0.223384,0.345001,0.023173,4.443712,0.916056,0.126878,0.429452,...,2.793233,0.779817,0.658713,3.618731,0.669700,2.251648,2.059034,0.726104,1.338567,0.051017
2999,0.837102,3.240181,0.891527,1.544161,1.854147,5.244005,0.033463,2.066508,0.860850,1.354678,...,0.683291,2.156250,2.752585,1.974144,0.610323,1.978311,1.681465,0.074014,0.267091,0.219595

In [111]:
all_user_features = np.concatenate((user_features, user_has_no_rating_feature), axis=0)
len(all_user_features), len(all_user_features[0])

(4500, 10)

In [123]:
user = 90
product = 10
rating = all_user_features[user] @ product_features[product]
original_user_ID = le_user.inverse_transform([user])[0]
original_product = le_product.inverse_transform([product])[0]
new_rating = pd.DataFrame([[original_user_ID, original_product, rating, product, user]], columns=user_ratings.columns)
new_rating

   USER ID        PRODUCT    RATING  PRODUCT ID  NEW USER ID
0   101441  bundle forget  5.929241          10           90

In [191]:
user_product_pairs = list(itertools.product(all_user_ID, np.unique(product_ID)))
submission = pd.DataFrame(user_product_pairs, columns=['NEW USER ID', 'PRODUCT ID'])
submission['USER ID'] = le_user.inverse_transform(submission['NEW USER ID'])
submission['PRODUCT'] = le_product.inverse_transform(submission['PRODUCT ID'])
submission['RATING'] = all_user_predicted.flatten()
submission = submission.drop(['NEW USER ID', 'PRODUCT ID'], axis=1)
submission

        USER ID          PRODUCT    RATING
0        100953     alaska basil  2.695802
1        100953   alcohol future  6.674651
2        100953     alice ticket  3.718158
3        100953     alien potato  6.780513
4        100953      asia jacket  3.338592
5        100953       aztec iris  3.550480
6        100953   balance hostel  3.230893
7        100953      betty today  5.307483
8        100953     boston house  7.722644
9        100953    bronze sweden  2.060954
10       100953    bundle forget  6.718227
11       100953    cairo monarch  5.954741
12       100953      choice copy  7.022883
13       100953   cinema complex  6.533891
14       100953     cipher empty  6.185098
15       100953   cockpit circle  6.570910
16       100953     comedy clean  5.912103
17       100953    daniel global  3.531639
18       100953   degree forever  4.015591
19       100953    diana chariot  5.417660
20       100953     diesel jason  5.830994
21       100953    diploma vocal  2.612122
22       100953     epoxy insect  5.949438
23       100953   explain heaven  8.535071
24       100953     flame street  5.781609
25       100953    fractal heart  6.772569
26       100953      fresh shave  6.122637
27       100953   frozen command  2.353103
28       100953    gelatin prime  2.554133
29       100953     glass alpine  4.910842
...         ...              ...       ...
449970   125976    segment meter  4.480988
449971   125976    senator ozone  4.423104
449972   125976   serial organic  5.301735
449973   125976   shannon resume  5.216058
449974   125976     sheriff java  4.811508
449975   125976       silk gizmo  3.831448
449976   125976     silver plate  6.139396
449977   125976    similar malta  4.943683
449978   125976     siren junior  4.534722
449979   125976    solid express  4.593560
449980   125976      spray karma  4.773071
449981   125976     stella micro  5.663030
449982   125976        stop door  4.889405
449983   125976     sushi import  4.530638
449984   125976    tarzan juliet  5.301219
449985   125976    telecom pluto  5.256282
449986   125976  textile strange  5.919726
449987   125976    theory france  5.315268
449988   125976    torso cricket  4.832761
449989   125976    tower fantasy  4.456027
449990   125976     trivial neon  5.033404
449991   125976       tuna relax  4.849036
449992   125976     tunnel nerve  5.129966
449993   125976    turtle pierre  4.640158
449994   125976   update vibrate  6.011233
449995   125976  vampire teacher  5.726130
449996   125976     ventura next  5.571979
449997   125976     vodka bahama  5.457397
449998   125976     volume pasta  6.100381
449999   125976      zero nikita  5.130087

[450000 rows x 3 columns]

In [216]:
user_ratings.head()

   USER ID         PRODUCT  RATING  PRODUCT ID  NEW USER ID
0   100953     spray karma       3          80            0
1   100953   nurse october       5          55            0
2   100953  balance hostel       3           6            0
3   100953    volume pasta       3          98            0
4   100953   diana chariot       6          19            0

In [222]:
submission.set_index(['USER ID', 'PRODUCT'])
user_ratings.set_index(['USER ID', 'PRODUCT'])
submission.update(user_ratings)
submission.reset_index(inplace=True)
user_ratings.reset_index(inplace=True)
submission['USER ID'].astype(int)
submission

ValueError: cannot insert level_0, already exists

In [223]:
user_ratings.head()

   level_0  index  USER ID         PRODUCT  RATING  PRODUCT ID  NEW USER ID
0        0      0   100953     spray karma       3          80            0
1        1      1   100953   nurse october       5          55            0
2        2      2   100953  balance hostel       3           6            0
3        3      3   100953    volume pasta       3          98            0
4        4      4   100953   diana chariot       6          19            0

In [209]:
rng = [i for i in range(0,10)]
df1 = pd.DataFrame({"USER_ID": rng, 
                    "PRODUCT_ID": rng, 
                    "RATING": rng})


rng_2 = [i for i in range(0,4)]
df2 = pd.DataFrame({'USER_ID' : rng_2,'PRODUCT_ID' : rng_2,
                   'RATING' : [10,10,10,10]})

In [210]:
df1

   USER_ID  PRODUCT_ID  RATING
0        0           0       0
1        1           1       1
2        2           2       2
3        3           3       3
4        4           4       4
5        5           5       5
6        6           6       6
7        7           7       7
8        8           8       8
9        9           9       9

In [211]:
df1 = df1.set_index(['USER_ID', 'PRODUCT_ID'])
df2 = df2.set_index(['USER_ID', 'PRODUCT_ID'])
df1

                    RATING
USER_ID PRODUCT_ID
0       0                0
1       1                1
2       2                2
3       3                3
4       4                4
5       5                5
6       6                6
7       7                7
8       8                8
9       9                9

In [212]:
df1.update(df2)
df1.reset_index(inplace=True)
df2.reset_index(inplace=True)
df2

   USER_ID  PRODUCT_ID  RATING
0        0           0      10
1        1           1      10
2        2           2      10
3        3           3      10

In [214]:
df1

   USER_ID  PRODUCT_ID  RATING
0        0           0    10.0
1        1           1    10.0
2        2           2    10.0
3        3           3    10.0
4        4           4     4.0
5        5           5     5.0
6        6           6     6.0
7        7           7     7.0
8        8           8     8.0
9        9           9     9.0

In [195]:
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],'value': [1, 2, 3, 5]})
df2 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],'value': [5, 6, 7, 8]})
df1

  lkey  value
0  foo      1
1  bar      2
2  baz      3
3  foo      5

In [196]:
df2

  lkey  value
0  foo      5
1  bar      6
2  baz      7
3  foo      8

In [197]:
df1.merge(df2, left_on='lkey')

TypeError: object of type 'NoneType' has no len()

In [11]:
import itertools
a = [1, ..., 100]
b = [1, ..., 50]
c = [1, ..., 10]
d = [1, ..., 10]
for x in set(itertools.product(a, b)) - set(zip(c, d)):
    print(x)

(Ellipsis, 50)
(100, 50)
(100, Ellipsis)
(1, Ellipsis)
(Ellipsis, 1)
(1, 50)
(100, 1)

In [27]:
res

{(1, 50), (100, 1), (100, 50), (100, Ellipsis), (Ellipsis, 50)}

In [21]:
print(s)

<itertools.product object at 0x110fe5360>

In [18]:
res = []
for x in set(itertools.product(a, b)) - set(zip(c, d)):
    res.append(x)

In [19]:
len(res)

7

In [10]:
set(itertools.product(c, [1,2]))

{(1, 1), (1, 2), (10, 1), (10, 2), (Ellipsis, 1), (Ellipsis, 2)}

In [42]:
np.array([[1,2],[3,4]])

array([[1, 2],
       [3, 4]])

In [44]:
(np.array([[1,2],[3,4]]) @ np.array([[1,2],[3,4]])).flatten()

array([ 7, 10, 15, 22])

In [198]:
pd.DataFrame({'USER ID': range(10), 'PRODUCT ID': range(10), 'RATING': range(10)})

   USER ID  PRODUCT ID  RATING
0        0           0       0
1        1           1       1
2        2           2       2
3        3           3       3
4        4           4       4
5        5           5       5
6        6           6       6
7        7           7       7
8        8           8       8
9        9           9       9

In [199]:
pd.DataFrame({'USER ID': range(4), 'PRODUCT ID': range(4), 'RATING': [10]*4})

   USER ID  PRODUCT ID  RATING
0        0           0      10
1        1           1      10
2        2           2      10
3        3           3      10

In [200]:
pd.DataFrame({'USER ID': range(10), 'PRODUCT ID': range(10), 'RATING': [10, 10, 10, 10, 4, 5,6,7,8,9]})

   USER ID  PRODUCT ID  RATING
0        0           0      10
1        1           1      10
2        2           2      10
3        3           3      10
4        4           4       4
5        5           5       5
6        6           6       6
7        7           7       7
8        8           8       8
9        9           9       9